@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* nav,
footer,
header,
aside {
  display: block;
} */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}


body {
  background-color: #ff6b6b;
}

.main {
  position: relative;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.main button {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 4px;
}

.main-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* display: none; */
}

.statistics {
  text-align: center;
  width: 100px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.main-showprogress {
  display: none;
  flex-direction: column;
  align-items: center;
}

.repeat-button {
  transition: 0.5s;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 5px;
}

.repeat-button:hover {
  transform: rotate(-90deg);
}

.scale-marks {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background: white;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.scale-marks .scale-marks__star {
  width: 30px;
}


.active {
  position: relative;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 4px;
  background-color: #ff7675;
  border-radius: 4px;
}


.container {
  position: absolute;
  height: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 500px;
  transition: 0.5s ease;
  z-index: 1;
}

.overlay .menu {
  position: relative;
  width: 100%;
  height: 90%;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease;
}

.overlay .menu #marker {
  position: absolute;
  height: 4px;
  width: 0;
  left: 0;
  background: black;
  transition: 0.5s;
  border-radius: 4px;
}

.overlay .menu__item:hover {
  cursor: pointer;
}



.win-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 200px;
  height: 200px;
}

.win-message .win-message__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 20px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.win-message .win-message__text span:nth-child(2) {
  margin-top: 5px;
}

.win-message .smile-happy,
.win-message .smile-cry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
}

.footer .footer-content {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .logo-course {
  width: 50px;
  height: 20px;
  background: url(https://rs.school/images/rs_school_js.svg) no-repeat;
}

.footer .powered-by {
  font-size: 8px;
}

.footer a {
  color: white;
  font-size: 20px;
  letter-spacing: 1.5px;
}